.start-container {
    width: 100%;
    min-height: 100vh;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.start-content {
    width: 100%;
    max-width: 768px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 200px;
}

.start-text {
    font-size: 22px;
    color: #2D2D2D;
    text-align: left;
    width: 100%;
    max-width: 320px;
    position: relative;
    margin-bottom: 50px;
}

.start-text span {
    font-weight: bold;
}

.start-marking {
    width: 105px;
    height: 22px;
    background: rgba(244, 114, 32, 0.2);
    position: absolute;
    left: 90px;
    bottom: 3px;
    z-index: 0;
}

.img-part {
    width: 137px;
    height: 130px;
    margin-bottom: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.img-part img {
    width: 150px;
    height: auto;
}

.nickname-part {
    width: 100%;
    max-width: 215px;
    height: 37px;
    background: #F472201A;
    border-radius: 10px;
    border: 1px solid #F47220;
    padding: 0 15px;
}

.nickname-part::placeholder {
    color: #F47220;
}

/* 태블릿 화면 설정 */
@media screen and (max-width: 768px) {
    .start-text {
        font-size: 20px;
    }
}

/* 모바일 화면 설정 */
@media screen and (max-width: 480px) {
    .start-text {
        font-size: 18px;
    }
    
    .img-part {
        width: 120px;
        height: 120px;
    }
    
    .img-part img {
        width: 130px;
    }
}